@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
   font-family: 'Roboto', sans-serif; 
   background-color: #EEF9BF;
   box-sizing: border-box;
   width: 100vw;

}

h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 63px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.cards {
    width: 50%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 182px;
    border-radius: 5px;
    
    position: relative;
    transform-style: preserve-3d;
}

.card img {
    width: 70%;
}

.view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7e9af;
    border: 1px solid #99cea8;
    border-radius: 5px;
    position: absolute;

    transition: all 0.8s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}

.parrot-gif {
    transform: rotateY(-180deg);
}

.card.flip .parrot {
    transform: rotateY(180deg);
}

.card.flip .parrot-gif {
    transform: rotateY(0);
}

.moves {
    background-color: #75B79E;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moves p {
    text-align: center;
    color: #EEF9BF;
    font-size: 38px;
}
